
**Q1. Write a code to reverse a string.**

In [ ]:
def reverse_string(s):
    return s[::-1]

# Example usage
example_string = 'Hello, World!'
reversed_string = reverse_string(example_string)
print('Original String:', example_string)
print('Reversed String:', reversed_string)

Original String: Hello, World!
Reversed String: !dlroW ,olleH

**Q2.  Write a code to count the number of vowles in a string.**

In [ ]:
def vowel_count(string):
  vowels = "aeiouAEIOU"
  count = 0

  for char in string:
    if char in vowels:
      count += 1

  return count

# Example usage
string = "Hello, How are you today"
vowel_count = vowel_count(string)
print("Number of vowels:", vowel_count)

Number of vowels: 9

**Q3. Write a code to check if a given string is a  palindrome or not.**

In [ ]:
def is_palindrome(string):
    # Remove any non-alphanumeric characters and convert to lowercase
    cleaned_string = ''.join(char.lower() for char in string if char.isalnum())

    # Compare the cleaned string with its reversed version
    return cleaned_string == cleaned_string[::-1]

# Example usage
input_string = input("Enter a string: ")
if is_palindrome(input_string):
    print("The string is a palindrome.")
else:
    print("The string is not a palindrome.")

Enter a string: 121
The string is a palindrome.

**Q4. Write a code to check if two given strings are anagrams of each other.**

In [ ]:
def are_anagrams(string1, string2):
  # Convert both strings to lowercase
  string1 = string1.lower()
  string2 = string2.lower()

  # Sort the characters in each string
  sorted_string1 = sorted(string1)
  sorted_string2 = sorted(string2)

  # Compare the sorted strings
  return sorted_string1 == sorted_string2

# Example usage:
string1 = "listen"
string2 = "silent"
are_anagrams = are_anagrams(string1, string2)
print(are_anagrams)

True

**Q5. Write a code to find all occurrences of a given substring within another string**

In [ ]:
def find_substring_occurrences(string, substring):
  indices = []
  start = 0
  while start < len(string):
    index = string.find(substring, start)
    if index == -1:
      break
    indices.append(index)
    start = index + 1
  return indices

# Example usage:
string = "swetank"
substring = "tank"
occurrences = find_substring_occurrences(string, substring)
print(occurrences)

[3]

**Q6. Write a  code to perform basic string compression using the counts of repeated characters**

In [ ]:
def string_compression(string):
  compressed_string = ""
  count = 1
  for i in range(1, len(string)):
    if string[i] == string[i - 1]:
      count += 1
    else:
      compressed_string += string[i - 1] + str(count)
      count = 1
  compressed_string += string[-1] + str(count)
  return compressed_string

# Example usage:
string = "aabbcccccaaa"
compressed_string = string_compression(string)
print(compressed_string)

a2b2c5a3

**Q7. Write a code to determine if a string has all unique characters.**

In [ ]:
def has_unique_characters(string):
  character_set = set()
  for char in string:
    if char in character_set:
      return False
    character_set.add(char)
  return True

# Example usage:
string1 = "abcde"
string2 = "hello"
print(has_unique_characters(string1))
print(has_unique_characters(string2))

True
False

**Q8. Write a code to convert a given string to uppercase or lowercase.**

In [ ]:
def convert_case(string, case):
  if case == 'upper':
    return string.upper()
  elif case == 'lower':
    return string.lower()
  else:
    raise ValueError("Invalid case: must be 'upper' or 'lower'")

# Example usage:
string = "Hello, World!"
uppercase_string = convert_case(string, "upper")
lowercase_string = convert_case(string, "lower")
print(uppercase_string)
print(lowercase_string)

HELLO, WORLD!
hello, world!

**Q9. Write a code to count the number of words in a string.**

In [ ]:
def count_words(string):
  words = string.split()
  return len(words)

# Example usage:
string = "This is a sentence with five words."
word_count = count_words(string)
print("The number of words in the string is:", word_count)

The number of words in the string is: 7

**Q10.Write a code to concatenate two strings without using the + operator.**

In [ ]:
def concatenate_strings(string1, string2):
  result = ""
  for char in string1:
    result += char
  for char in string2:
    result += char
  return result

# Example usage:
string1 = "Hello"
string2 = " World"
concatenated_string = concatenate_strings(string1, string2)
print(concatenated_string)

Hello World

**Q11.Write a code to remove all occurrences of a specific element from a list.**

In [ ]:
def remove_element(lst, element):
  while element in lst:
    lst.remove(element)
  return lst

# Example usage:
lst = [1, 2, 3, 2, 4, 2, 5]
element_to_remove = 2
modified_lst = remove_element(lst, element_to_remove)
print(modified_lst)

[1, 3, 4, 5]

**Q12. Implement a code to find the second largest number in a given list of integers.**

In [ ]:
def second_largest(numbers):
  if len(numbers) < 2:
    return None

  largest = max(numbers)
  second_largest = None

  for num in numbers:
    if num != largest and (second_largest is None or num > second_largest):
      second_largest = num

  return second_largest

# Example usage:
numbers = [5, 2, 9, 3, 7]
result = second_largest(numbers)
print("Second largest number:", result)

Second largest number: 7

**Q13. Create a code to count the occurrences of each element in a list and return a dictionary with elements as keys and their counts as value.**

In [ ]:
def count_occurrences(elements):
  occurrence_dict = {}
  for element in elements:
    if element in occurrence_dict:
      occurrence_dict[element] += 1
    else:
      occurrence_dict[element] = 1
  return occurrence_dict

# Example usage:
elements = [1, 2, 3, 2, 1, 4, 1]
result = count_occurrences(elements)
print(result)

{1: 3, 2: 2, 3: 1, 4: 1}

**Q14. Write a code to reverse a list in-place without using any
 built-in reverse functions.**

In [ ]:
def reverse_list_in_place(lst):
  left = 0
  right = len(lst) - 1

  while left < right:
    lst[left], lst[right] = lst[right], lst[left]
    left += 1
    right -= 1

# Example usage:
my_list = [1, 2, 3, 4, 5]
reverse_list_in_place(my_list)
print(my_list)  # Output: [5, 4, 3, 2, 1]

[5, 4, 3, 2, 1]

**Q15.  Implement a code to find and remove duplicates from a list while preserving the original order of elements**

In [ ]:
def remove_duplicates_preserving_order(lst):
  seen = set()
  result = []
  for element in lst:
    if element not in seen:
      seen.add(element)
      result.append(element)
  return result

# Example usage:
my_list = [1, 2, 3, 2, 4, 1, 5]
result = remove_duplicates_preserving_order(my_list)
print(result)

[1, 2, 3, 4, 5]

**Q16.Create a code to check if a given list is sorted (either in ascending or dscending order) or not**

In [ ]:
def is_sorted(lst):
  if len(lst) <= 1:
    return True

  # Check if the list is sorted in ascending order
  if all(lst[i] <= lst[i+1] for i in range(len(lst)-1)):
    return True

  # Check if the list is sorted in descending order
  if all(lst[i] >= lst[i+1] for i in range(len(lst)-1)):
    return True

  return False

# Example usage:
ascending_list = [1, 2, 3, 4, 5]
descending_list = [5, 4, 3, 2, 1]
unsorted_list = [3, 1, 4, 2, 5]

print(is_sorted(ascending_list))
print(is_sorted(descending_list))
print(is_sorted(unsorted_list))

True
True
False

**Q17. Write a code to merge two sorted lists into a single sorted lists.**

In [ ]:
def merge_sorted_lists(list1, list2):
  merged_list = []
  i = 0
  j = 0

  while i < len(list1) and j < len(list2):
    if list1[i] <= list2[j]:
      merged_list.append(list1[i])
      i += 1
    else:
      merged_list.append(list2[j])
      j += 1

  merged_list += list1[i:]
  merged_list += list2[j:]

  return merged_list

# Example usage:
list1 = [1, 3, 5]
list2 = [2, 4, 6]
merged_list = merge_sorted_lists(list1, list2)
print(merged_list)

[1, 2, 3, 4, 5, 6]

**Q18. Implement a code to find the intersetion of two given lists.**

In [ ]:
def find_intersection(list1, list2):
  intersection_list = []
  set1 = set(list1)
  set2 = set(list2)

  for element in set1:
    if element in set2:
      intersection_list.append(element)

  return intersection_list

# Example usage:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]
intersection = find_intersection(list1, list2)
print(intersection)

[3, 4, 5]

**Q19. Create a code to find the union of two lists without duplicates.**

In [ ]:
def find_union(list1, list2):
  union_set = set(list1 + list2)
  return list(union_set)

# Example usage:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]
union = find_union(list1, list2)
print(union)

[1, 2, 3, 4, 5, 6, 7]

**Q20.Write a code to shuffle a given list randomly
 without using any built-in shuffle functions.**

In [ ]:
import random

def shuffle_list(lst):
  for i in range(len(lst)):
    j = random.randint(i, len(lst) - 1)
    lst[i], lst[j] = lst[j], lst[i]

# Example usage:
my_list = [1, 2, 3, 4, 5]
shuffle_list(my_list)
print(my_list)

[1, 2, 3, 4, 5]

**Q21.Write a code that takes two tuples as input and returns a new tuple containing elements that are
common to both input tuples.**

In [ ]:
def find_common_elements(tuple1, tuple2):
  set1 = set(tuple1)
  set2 = set(tuple2)
  common_elements = tuple(set1.intersection(set2))
  return common_elements

# Example usage:
tuple1 = (1, 2, 3, 4, 5)
tuple2 = (3, 4, 5, 6, 7)
common_elements = find_common_elements(tuple1, tuple2)
print(common_elements)

(3, 4, 5)

**Q22. Create a code that prompts the user to enter two sets of integers separated by
 commas. Then print the
intersection of these two sets.**

In [ ]:
def find_intersection(set1, set2):
  return set1.intersection(set2)

def get_integer_set(prompt):
  while True:
    try:
      input_str = input(prompt)
      elements = [int(x) for x in input_str.split(",")]
      return set(elements)
    except ValueError:
      print("Invalid input. Please enter integers separated by commas.")

# Get input from the user
set1 = get_integer_set("Enter the first set of integers (separated by commas): ")
set2 = get_integer_set("Enter the second set of integers (separated by commas): ")

# Find the intersection
intersection = find_intersection(set1, set2)

# Print the result
print("Intersection of the two sets:", intersection)

Enter the first set of integers (separated by commas): 2,3,5,6
Enter the second set of integers (separated by commas): 3,5,6,2
Intersection of the two sets: {2, 3, 5, 6}

**Q23. Write a code to concatenate two tuples. The function should take two tuples as input and return a new
tuple containing elements from both input tuples.**

In [ ]:
def concatenate_tuples(tuple1, tuple2):
 return tuple1 + tuple2

# Example usage:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
concatenated_tuple = concatenate_tuples(tuple1, tuple2)
print(concatenated_tuple)

(1, 2, 3, 4, 5, 6)

**Q24. Develop a code that prompts the user to input two sets of strings. Then print the elements that are
present in the first set but not in the second set.**

In [ ]:
def find_elements_in_first_not_in_second(set1, set2):
  return set1 - set2

def get_string_set(prompt):
  while True:
    try:
      input_str = input(prompt)
      elements = input_str.split(",")
      return set(elements)
    except ValueError:
      print("Invalid input. Please enter strings separated by commas.")

# Get input from the user
set1 = get_string_set("Enter the first set of strings (separated by commas): ")
set2 = get_string_set("Enter the second set of strings (separated by commas): ")

# Find elements in the first set but not in the second set
elements_in_first_not_in_second = find_elements_in_first_not_in_second(set1, set2)

# Print the result
print("Elements present in the first set but not in the second set:", elements_in_first_not_in_second)

Enter the first set of strings (separated by commas): 1,3,6,7
Enter the second set of strings (separated by commas): 7,1,8,9
Elements present in the first set but not in the second set: {'3', '6'}

Q25.**Create a code that takes a tuple and two integers as input. The function should return a new tuple
containing elements from the original tuple within the specified range of indices.**

In [ ]:
def slice_tuple(tuple_input, start_index, end_index):
  """Slices a tuple within a specified range of indices.

  Args:
    tuple_input: The input tuple.
    start_index: The starting index (inclusive).
    end_index: The ending index (exclusive).

  Returns:
    A new tuple containing elements from the original tuple within the specified range.
  """

  return tuple_input[start_index:end_index]

# Example usage:
my_tuple = (1, 2, 3, 4, 5)
start_index = 1
end_index = 4
sliced_tuple = slice_tuple(my_tuple, start_index, end_index)
print(sliced_tuple)

(2, 3, 4)

**Q26.Write code that prompts the user to input two sets of characters. Then print the union of these two sets.**

In [ ]:
def get_character_set(prompt):
  while True:
    try:
      input_str = input(prompt)
      elements = list(input_str)
      return set(elements)
    except ValueError:
      print("Invalid input. Please enter characters separated by commas.")

def find_union(set1, set2):
  return set1.union(set2)

# Get input from the user
set1 = get_character_set("Enter the first set of characters (separated by commas): ")
set2 = get_character_set("Enter the second set of characters (separated by commas): ")

# Find the union
union = find_union(set1, set2)

# Print the result
print("Union of the two sets:", union)

Enter the first set of characters (separated by commas): 1,3,4,5,6
Enter the second set of characters (separated by commas): 4,5,7,8
Union of the two sets: {'4', '6', '5', ',', '1', '8', '7', '3'}

**Q27.Develop a code that takes a tuple of integers as input. The function should return the maximum and
minimum values from the tuple using tuple unpacking**

In [ ]:
def find_max_min(tuple_input):
  max_value = min_value = tuple_input[0]
  for element in tuple_input:
    if element > max_value:
      max_value = element
    if element < min_value:
      min_value = element
  return max_value, min_value

# Example usage:
my_tuple = (10, 5, 20, 3, 15)
max_value, min_value = find_max_min(my_tuple)
print("Maximum value:", max_value)
print("Minimum value:", min_value)

Maximum value: 20
Minimum value: 3

**Q28. Create a code that defines two sets of integers. Then print the union intersection and difference of these
two sets.**

In [ ]:
def find_union_intersection_difference(set1, set2):
  union = set1.union(set2)
  intersection = set1.intersection(set2)
  difference = set1 - set2

  return union, intersection, difference

def get_integer_set(prompt):
  while True:
    try:
      input_str = input(prompt)
      elements = [int(x) for x in input_str.split(",")]
      return set(elements)
    except ValueError:
      print("Invalid input. Please enter integers separated by commas.")

# Get input from the user
set1 = get_integer_set("Enter the first set of integers (separated by commas): ")
set2 = get_integer_set("Enter the second set of integers (separated by commas): ")

# Find the union, intersection, and difference
union, intersection, difference = find_union_intersection_difference(set1, set2)

# Print the results
print("Union:", union)
print("Intersection:", intersection)
print("Difference:", difference)

Enter the first set of integers (separated by commas): 5,6,7,8,1,2
Enter the second set of integers (separated by commas): 6,8,9,4,3
Union: {1, 2, 3, 4, 5, 6, 7, 8, 9}
Intersection: {8, 6}
Difference: {1, 2, 5, 7}

**Q29. Write a code that takes a tuple and an element as input. The function should return the count of
occurrences of the given element in the tuple.**

In [ ]:
def count_occurrences(tuple_input, element):
  count = 0
  for item in tuple_input:
    if item == element:
      count += 1
  return count

# Example usage:
my_tuple = (1, 2, 3, 2, 4, 1, 5)
element_to_count = 2
count = count_occurrences(my_tuple, element_to_count)
print("Count of occurrences:", count)

Count of occurrences: 2

**Q30. Develop a code that prompts the user to input two sets of strings. Then print the symmetric difference of
these two sets.**

In [ ]:
def find_symmetric_difference(set1, set2):

  return set1 ^ set2

def get_string_set(prompt):
  while True:
    try:
      input_str = input(prompt)
      elements = input_str.split(",")
      return set(elements)
    except ValueError:
      print("Invalid input. Please enter strings separated by commas.")

# Get input from the user
set1 = get_string_set("Enter the first set of strings (separated by commas): ")
set2 = get_string_set("Enter the second set of strings (separated by commas): ")

# Find the symmetric difference
symmetric_difference = find_symmetric_difference(set1, set2)

# Print the result
print("Symmetric difference of the two sets:", symmetric_difference)

Enter the first set of strings (separated by commas): a,b,t,e,v
Enter the second set of strings (separated by commas): t,b,h,q
Symmetric difference of the two sets: {'h', 'q', 'e', 'v', 'a'}

**Q31. Write a code that takes a list of words as input and returns a dictionary where the keys are unique words
and the values are the frequencies of those words in the input list.**

In [ ]:
def word_frequency(word_list):
  word_count = {}
  for word in word_list:
    word_count[word] = word_count.get(word, 0) + 1
  return word_count

# Example usage:
words = ["apple", "banana", "apple", "orange", "banana", "banana"]
frequency_dict = word_frequency(words)
print(frequency_dict)

{'apple': 2, 'banana': 3, 'orange': 1}

**Q32. Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are
common keys the values should be added together.**

In [ ]:
def merge_dictionaries(dict1, dict2):
  merged_dict = dict1.copy()
  for key, value in dict2.items():
    if key in merged_dict:
      merged_dict[key] += value
    else:
      merged_dict[key] = value
  return merged_dict

# Example usage:
dict1 = {"a": 1, "b": 2, "c": 3}
dict2 = {"b": 4, "d": 5}
merged_dict = merge_dictionaries(dict1, dict2)
print(merged_dict)

{'a': 1, 'b': 6, 'c': 3, 'd': 5}

**Q33. Write a code to access a valus in a nested dictionary. The function should take the dictionary and a list of
keys as input and return the corresponding value. If any of the key do not exist in the dictionary the
function should return None.**

In [ ]:
def get_nested_value(dictionary, keys):
  current_dict = dictionary
  for key in keys:
    if key not in current_dict:
      return None
    current_dict = current_dict[key]
  return current_dict

# Example usage:
nested_dict = {
    "a": {
        "b": {
            "c": "value"
        }
    }
}
keys = ["a", "b", "c"]
value = get_nested_value(nested_dict, keys)
print(value)

value

**Q34. Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You
can choose whether to sort in ascending or descending order.**

In [ ]:
def sort_dictionary_by_values(dictionary, ascending=True):
  sorted_items = sorted(dictionary.items(), key=lambda item: item[1], reverse=not ascending)
  return sorted_items

# Example usage:
my_dict = {"a": 3, "b": 5, "c": 2}
sorted_items = sort_dictionary_by_values(my_dict)
print(sorted_items)

[('c', 2), ('a', 3), ('b', 5)]

**Q35. Write a code that inverts a dictionary swapping keys and values. Ensure that the inverted dictionary
correctly handles cases where multiple keys have the same value by storing the keys as a list in the
inverted dictionary.**

In [ ]:
def invert_dictionary(dictionary):
  inverted_dict = {}
  for key, value in dictionary.items():
    if value in inverted_dict:
      inverted_dict[value].append(key)
    else:
      inverted_dict[value] = [key]
  return inverted_dict

# Example usage:
original_dict = {"a": 1, "b": 2, "c": 2}
inverted_dict = invert_dictionary(original_dict)
print(inverted_dict)  # Output: {1: ['a'], 2: ['b', 'c']}

{1: ['a'], 2: ['b', 'c']}